@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-amber-600 underline;
  }
  a:visited {
    @apply text-amber-800;
  }
  a:hover,
  :root[data-theme='white on gray'] a:hover {
    @apply no-underline;
  }
  :root[data-theme='white on gray'] a {
    @apply text-amber-400 underline;
  }
  :root[data-theme='white on gray'] a:visited {
    @apply text-amber-600;
  }
}

.curs {
  font-family: 'Dancing Script', 'Segoe Script', cursive;
}

@font-face {
  font-family: 'Segoe Script';
  src: local('Segoe Script');
  size-adjust: 65%;
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
